@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-light: #f8f9fa;
    --bg-dark: #121212;
    --text-light: #333;
    --text-dark: #f8f9fa;
    --transition-duration: 0.4s;
  }

  body {
    @apply transition-colors duration-300;
    background-color: var(--bg-light);
    color: var(--text-light);
  }

  .dark {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }
}